$primary-color: #215e5a;
$secondary-color: #6c757d;
$background-color: #F8F7F1;

$black: #000;
$white: #fff;
$yellow: #E9A925;
$green: #71BF6A;
$red: #F36441;
$purple: #9363F6;
$blue: #4A90E2;
$orange: #ff870f;
$pink: #F6A9B2;
$grey: #bebebe;
$light-grey: #d5d5d5;

$text-color: #0D2F3F;

// Brand colors
$laravel-static: #FF2D20;
$astro-static: #FF0080;
$python-static: #306998;
$html-static: #E34F26;
$css-static: #1572B6;
$javascript-static: #fcd433;
$typescript-static: #3178C6;
$sass-static: #CC6699;
$svelte-static: #FF3E00;
$mysql-static: #4479A1;
$php-static: #777BB4;
$flutter-static: #02569B;
$dart-static: #0175C2;

$laravel: linear-gradient(135deg, rgba(255, 45, 32, 0.3), rgba(255, 126, 95, 0.3));
$astro: linear-gradient(135deg, rgba(255, 0, 128, 0.3), rgba(255, 95, 95, 0.3));
$python: linear-gradient(135deg, rgba(48, 105, 152, 0.3), rgba(255, 212, 59, 0.3));
$html: linear-gradient(135deg, rgba(227, 79, 38, 0.3), rgba(240, 101, 41, 0.3));
$css: linear-gradient(135deg, rgba(21, 114, 182, 0.3), rgba(51, 170, 221, 0.3));
$javascript: linear-gradient(135deg, rgba(247, 223, 30, 0.3), rgba(247, 224, 24, 0.3));
$typescript: linear-gradient(135deg, rgba(49, 120, 198, 0.3), rgba(47, 116, 192, 0.3));
$sass: linear-gradient(135deg, rgba(204, 102, 153, 0.3), rgba(255, 182, 193, 0.3));
$svelte: linear-gradient(135deg, rgba(255, 62, 0, 0.3), rgba(255, 110, 64, 0.3));
$mysql: linear-gradient(135deg, rgba(68, 121, 161, 0.3), rgba(0, 166, 214, 0.3));
$php: linear-gradient(135deg, rgba(119, 123, 180, 0.3), rgba(136, 146, 191, 0.3));
$flutter: linear-gradient(135deg, rgba(2, 86, 155, 0.3), rgba(66, 165, 245, 0.3));
$dart: linear-gradient(135deg, rgba(1, 117, 194, 0.3), rgba(0, 180, 171, 0.3));
