@use "fonts" as *;
@use "colors" as *;
@use "mediaqueries" as *;

.contact {

  padding: 35px 0 50px;

  &__wrapper {
    position: relative;
  }

  &__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
    gap: 50px;
    position: relative;
    z-index: 2;

    /*@include w1024 {
        grid-template-columns: 1fr;
        gap: 50px;
    }*/

    &__primary {

      @include w1024 {
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
      }

      &__title {
        @include title;
        color: $text-color;
        text-align: center;
        font-size: $xxxxl;
        line-height: 1.1;
        @include w480 {
          font-size: $xxxl;
        }
      }

      &__text {
        @include title;
        color: $yellow;
        text-align: center;
        font-size: $xxxxxl;
        @include w480 {
          font-size: $xxxxl;
        }
      }
    }

    &__secondary {

      display: flex;
      justify-content: center;
      align-items: center;

      &__buttonContainer {

        display: flex;
        justify-content: center;
        align-items: center;

        max-width: 550px;
        width: 100%;
        height: 195px;

        &__button {
          margin: auto;
          padding: 8px 100px;
          border-radius: 5px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          @include w500 {
            padding: 8px 10%;

          }
        }
      }
    }
  }

  &__background {
    position: absolute;
    width: 100vw;
    transform: translateX(-50%);
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    left: 50%;

    bottom: 0;
    z-index: 1;

    &__mask {
      position: absolute;
      width: 100%;
      height: 195px;
      /*  background: linear-gradient(45deg, $primary-color, lighten($primary-color, 90%), lighten($primary-color, 40%));
        background-size: 300% 300%;
        animation: moveColors 3s linear infinite;*/
      /* Masque en forme de texte */
      -webkit-mask-image: url('../assets/vector_pattern.png'); /* Ex : Logo PNG */
      mask-image: url('../assets/vector_pattern.png');

      &__left {
        position: absolute;
        width: 50%;
        height: 100%;
        background: linear-gradient(90deg, #215e5a, #3ffc8c, #215e5a, #215e5a);
        background-size: 300% 300%;
        animation: moveColors 3s ease-in-out infinite;
      }

      &__right {
        position: absolute;
        width: 50%;
        height: 100%;
        background: linear-gradient(90deg, #215e5a, #3ffc8c, #215e5a, #215e5a);
        background-size: 300% 300%;
        animation: moveColors 3s ease-in-out infinite;
        transform: rotate(180deg);
        right: 0;
        opacity: 1;
      }
    }

    &__img {
      position: absolute;

      width: 100%;
      height: 100%;
      background-image: url("../assets/vector_pattern.png");
      opacity: 0.3;
    }
  }

}