@use 'fonts' as *;
@use 'colors' as *;
@use 'mediaqueries' as *;


.form {
    border: 1px solid $light-grey;
    border-radius: 8px;
    padding: 26px;
    display: flex;
    flex-direction: column;
    gap: 22px;

    &__group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    &__row {
        display: flex;
        flex-direction: column;
    }

    &__label {
        display: block;
        font-weight: $medium;
        font-family: $textFont;
        margin-bottom: 6px;

        &:has(+input[required])::after,
        &:has(+textarea[required])::after, {
            content: "*";
            color: red;
            margin-left: 4px;
        }
    }


    &__input,
    &__textarea {
        padding: 8px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: $textFont;
        font-size: 1rem;
        width: 100%;
        box-sizing: border-box;

        &:focus {
        border-color: #007bff;
        outline: none;
        }
    }

    &__button {
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 8px 0;
    }

}