@use "mediaqueries" as *;

.wrapper {
    position: relative;
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    @include w1600 {
        max-width: none;
        width: 100%;
        padding: 0 50px;
    }

    @include w1024 {
        padding: 0 5%;
    }
}

.wrapper--small {
    max-width: 1440px;
    padding: 0;

    @include w1500 {
        max-width: none;
        padding: 0 50px;
    }
    @include w1024 {
        padding: 0 5%;
    }
}

.wrapper--small2 {
    max-width: 1220px;
    padding: 0;

    @include w1400 {
        max-width: none;
        padding: 0 50px;
    }
    @include w1024 {
        padding: 0 5%;
    }
}

.wrapper--smaller {
    max-width: 1080px;
    padding: 0;

    @include w1180 {
        max-width: 100%;
        padding: 0 50px;
    }
    @include w1024 {
        padding: 0 5%;
    }

}

.wrapper--text {
    max-width: 860px;
    padding: 0;

    @include w900 {
        max-width: none;
        padding: 0 50px;
    }
    @include w1024 {
        padding: 0 5%;
    }
}

.wrapper--large {
    max-width: 1660px;

    @include w1700 {
        max-width: none;
        padding: 0 50px;
    }
    @include w1024 {
        padding: 0 5%;
    }
}

.wrapper--xlarge {
    max-width: 1820px;

    @include w1900 {
        max-width: none;
        padding: 0 50px;
    }
    @include w1024 {
        padding: 0 5%;
    }
}

.wrapper--full {
    max-width: none;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;

    @include w1900 {
        max-width: 1780px;
        padding: 0;
    }

    @include w1800 {
        max-width: none;
        padding: 0 50px;
    }
    @include w1024 {
        padding: 0 5%;
    }
}

.wrapper--none {
    max-width: none !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}